.promo {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 560px);
		grid-template-rows: 500px;
		grid-auto-rows: 500px;
	}
	&__img {
		position: relative;
		background: url("../img/bg.jpg") center no-repeat;
		&-size {
			width: 504px;
			height: 402px;
			position: absolute;
			left: 16px;
			bottom: 27px;
		}
		img {
			height: 100%;
			width: 100%;
		}
	}
	&__flex {
		padding: 40px 0 35px 40px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		h2 {
			margin: 0;
		}
	}
	&__subtitle {
		font-weight: bold;
		font-size: 18px;
		line-height: 130%;
		color: #ffffff;
	}
	&__contacts {
		display: grid;
		grid-template-rows: 136px 1fr;
		background: #ffffff;
	}
	&__title {
		padding: 29px 128px 29px 129px;
		font-size: 30px;
		font-weight: 800;
		line-height: 130%;
		text-align: center;
		color: #212121;
		margin: 0;
		background: #f8f8f8;
		border-radius: 0 30px 0 0;
	}
	&__form {
		background: #ffffff;
		box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
		border-radius: 1px;
		padding: 52px 123px 40px 117px;
	}
	&__phone-form {
		margin-top: 22px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__input {
		label {
			display: block;
			font-weight: 800;
			font-size: 12px;
			line-height: 130%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #212121;
			margin-bottom: 0;
			span {
				color: $green-color;
			}
		}
		input {
			margin-top: 10px;
			font-size: 14px;
			font-weight: 600;
			padding: 0 20px 0 20px;
			background: #f8f8f8;
			border: 1px solid #e4e4e4;
			box-sizing: border-box;
			border-radius: 5px;
			@include placeholder;
		}
	}
	&__btn {
		width: 320px;
		height: 42px;
		background: $green-color;
		border-radius: 5px;
		font-weight: 600;
		font-size: 14px;
		line-height: 130%;
		text-align: center;
		color: #ffffff;
		border: none;
		margin-top: 38px;
		span {
			padding-left: 5px;
		}
	}
	&__invis {
		opacity: 0;
		width: 320px;
		height: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		font-size: 14px;
		&-img {
			margin: 0 20px;
		}
	}
}
#name {
	width: 320px;
	height: 50px;
}
#phone {
	width: 184px;
	height: 50px;
}
